# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

buildcache/
.tsbuildinfo	

# Arquivos de lock antigos (se estiver usando só um gerenciador de pacotes)
package-lock.json
yarn.lock
pnpm-lock.yaml

# Tailwind IntelliSense cache (caso esteja usando)
.tailwindcss.*

# Sass cache
.sass-cache

# Arquivos de deploy (opcional)
.vercel/
.netlify/

